
IT1/localLife/__pycache__/__init__.cpython-37.pyc
IT1/localLife/__pycache__/settings.cpython-37.pyc
IT1/localLife/__pycache__/urls.cpython-37.pyc
IT1/localLife/__pycache__/wsgi.cpython-37.pyc
IT1/pages/__pycache__/__init__.cpython-37.pyc
IT1/pages/__pycache__/admin.cpython-37.pyc
IT1/pages/__pycache__/models.cpython-37.pyc
IT1/pages/__pycache__/views.cpython-37.pyc
IT1/pages/migrations/__pycache__/__init__.cpython-37.pyc
IT1/products/__pycache__/__init__.cpython-37.pyc
IT1/products/__pycache__/admin.cpython-37.pyc
IT1/products/__pycache__/forms.cpython-37.pyc
IT1/products/__pycache__/models.cpython-37.pyc
IT1/products/__pycache__/urls.cpython-37.pyc
IT1/products/__pycache__/views.cpython-37.pyc
*.pyc
*.pyc
