<!DOCTYPE html>
<html>

<body>

    <h1>Welcome to store registration</h1>
    <form action="./success.html">
        <label for="name">Name</label><br>
        <input name="name" type="text" placeholder="store name"><br><br>

        <label for="name">Store type</label><br>
        <input type="radio" id="daily" name="store">
        <label for="daily">Daily needs</label>
        <input type="radio" id="restaurant" name="store">
        <label for="restaurant">Restaurant</label>
        <input type="radio" id="electronics" name="store">
        <label for="electronics">Electronics</label>
        <input type="radio" id="pharmacy" name="store">
        <label for="pharmacy">Pharmacy</label><br><br>

        <label for="description">Description</label><br>
        <input name="description" type="text"><br><br>

        <label for="address">Address</label><br>
        <input name="address" type="text"><br><br>

        <label for="mobile">Contact details</label><br>
        <input name="mobile" type="text" placeholder="mobile"><br><br>

        <label for="items">Items</label><br>
        <input name="items" type="text" placeholder="Place your items separated by comma (,)"><br><br>

        <input type="submit">
    </form>


</body>

</html>